In [7]:
import pandas as pd

In [9]:
cities =["Toronto", "Stockholm", "Istanbul", "Chicago" ]
populations = [14.85, 2.21, 2.93, 0.53]
city_series = pd.Series(populations, index=cities)
city_series.index

Index(['Toronto', 'Stockholm', 'Istanbul', 'Chicago'], dtype='object')

In [20]:
city_series.index = ["tor", "sto", "ist", "chi"]
city_series.index = city_series.index.str.upper()
city_series.index

Index(['TOR', 'STO', 'IST', 'CHI'], dtype='object')

In [21]:
city_series.index = city_series.index.str.upper()
city_series.index

Index(['TOR', 'STO', 'IST', 'CHI'], dtype='object')

In [23]:
import numpy as np
import pandas as pd

In [26]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [27]:
dates = pd.date_range("20231025", periods=6)
dates

DatetimeIndex(['2023-10-25', '2023-10-26', '2023-10-27', '2023-10-28',
               '2023-10-29', '2023-10-30'],
              dtype='datetime64[ns]', freq='D')

In [30]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2023-10-25 -0.002242 -1.299615  0.338642 -1.185788
2023-10-26 -0.474323 -0.369487 -0.786821  1.897173
2023-10-27  1.256161  0.005124 -1.574312  2.965914
2023-10-28  0.000801 -0.310824 -0.631547 -0.217220
2023-10-29 -1.290158 -0.158735  0.564663 -0.473538
2023-10-30  0.261899 -1.992256 -1.444738 -1.441616

In [34]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20231025"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int34"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2

TypeError: data type 'int34' not understood