Exercise 1: Import Pandas
Q1: How do you import the Pandas library in Python?

In [ ]:
import pandas as pd

Exercise 2: Create a DataFrame
Q2: Once you've imported Pandas, how can you create a DataFrame from a Python
dictionary?

In [3]:
import pandas as pd

data = {
    
    "Name": ["Stina", "Agnes", "Lisa", "Pernilla", "Stefan", "Per"],
    "Age":[25, 34, 23, 54, 64, 45],
    "City":["Örnsköldsvik", "Umeå", "Göteborg", "Stockholm", "Malmö", "Luleå"]}

df = pd.DataFrame(data)
df

       Name  Age          City
0     Stina   25  Örnsköldsvik
1     Agnes   34          Umeå
2      Lisa   23      Göteborg
3  Pernilla   54     Stockholm
4    Stefan   64         Malmö
5       Per   45         Luleå

Exercise 3: Read Data from a CSV
Q3: How can you use Pandas to read data from a CSV file into a DataFrame?

In [4]:
students = pd.read_csv("./Data/students.csv", header=0)
students.head(1)

    adam   AI23    adam@gmail.com
0  kalle   AI23   kalle@gmail.com

Exercise 4: Selecting Data

Let's assume you have a DataFrame named df with columns 'Name', 'Age', and 'City'. Here
are some tasks:
Select the 'Name' column.
Select the first 5 rows of the DataFrame.
Select all rows where 'Age' is greater than 25.
Select rows where 'City' is 'Gothenburg'.

In [29]:
import pandas as pd

data = {
    
    "Name": ["Stina", "Agnes", "Lisa", "Pernilla", "Stefan", "Per"],
    "Age":[25, 34, 23, 54, 64, 45],
    "City":["Örnsköldsvik", "Umeå", "Göteborg", "Stockholm", "Malmö", "Luleå"]}

df = pd.DataFrame(data)

name= df['Name']
print(name)

rows = df.head(5)
print(rows)

age_above_25 = df[df['Age'] > 25]
print(age_above_25)

city_göteborg = df[df['City'] == 'Göteborg']
print(city_göteborg)

0       Stina
1       Agnes
2        Lisa
3    Pernilla
4      Stefan
5         Per
Name: Name, dtype: object
       Name  Age          City
0     Stina   25  Örnsköldsvik
1     Agnes   34          Umeå
2      Lisa   23      Göteborg
3  Pernilla   54     Stockholm
4    Stefan   64         Malmö
       Name  Age       City
1     Agnes   34       Umeå
3  Pernilla   54  Stockholm
4    Stefan   64      Malmö
5       Per   45      Luleå
   Name  Age      City
2  Lisa   23  Göteborg

In [20]:
df_copy = df.copy()
df.copy

<bound method NDFrame.copy of        Name  Age          City
0     Stina   25  Örnsköldsvik
1     Agnes   34          Umeå
2      Lisa   23      Göteborg
3  Pernilla   54     Stockholm
4    Stefan   64         Malmö
5       Per   45         Luleå>

Exercise 5: Data Filtering and Manipulation
Q1: How can you filter the DataFrame to show only rows where 'Age' is less than 30?
Q2: How can you sort the DataFrame by the 'Age' column in ascending order?
Q3: How do you add a new column 'Salary' with some sample values to the DataFrame?

In [39]:
import pandas as pd

data = {
    
    "Name": ["Stina", "Agnes", "Lisa", "Pernilla", "Stefan", "Per"],
    "Age":[25, 34, 23, 54, 64, 45],
    "City":["Örnsköldsvik", "Umeå", "Göteborg", "Stockholm", "Malmö", "Luleå"]}

df = pd.DataFrame(data)
filtered_df = df[df['Age'] < 30]
print("Filtered DataFrame (Age < 30):\n", filtered_df)
sorted_df = df.sort_values(by='Age')
print("Sorted DataFrame (by Age in ascending order):\n", sorted_df)
df['Salary'] = [50000, 60000, 55000, 70000, 48000, 55000]
print("DataFrame with the 'Salary' column added:\n", df)

Filtered DataFrame (Age < 30):
     Name  Age          City
0  Stina   25  Örnsköldsvik
2   Lisa   23      Göteborg
Sorted DataFrame (by Age in ascending order):
        Name  Age          City
2      Lisa   23      Göteborg
0     Stina   25  Örnsköldsvik
1     Agnes   34          Umeå
5       Per   45         Luleå
3  Pernilla   54     Stockholm
4    Stefan   64         Malmö
DataFrame with the 'Salary' column added:
        Name  Age          City  Salary
0     Stina   25  Örnsköldsvik   50000
1     Agnes   34          Umeå   60000
2      Lisa   23      Göteborg   55000
3  Pernilla   54     Stockholm   70000
4    Stefan   64         Malmö   48000
5       Per   45         Luleå   55000

Exercise 6: Data Aggregation
Assume you have a DataFrame with a 'Sales' column. Here are some tasks:
Calculate the total sales.
Find the average sales.
Determine the maximum and minimum sales values.
Group the data by a categorical column (e.g., 'Region') and calculate the total sales in each
group.
Q1: How can you group data by a specific column and calculate summary statistics for each
group?

Exercise 7: Data Cleaning
Assume your DataFrame has missing values. Here are some tasks:
Identify and count the missing values in each column.
Remove rows with missing values.
Fill in missing values with a specific value or the mean of that column.
Q2: How can you handle missing data effectively in Pandas?

Exercise 8: Merging DataFrames
If you have two DataFrames, say df1 and df2, with common columns, perform the following
tasks:
Merge them based on a common column (e.g., 'ID').
Perform inner, outer, left, and right joins.
Q3: What are the different types of DataFrame merges, and when would you use each?

Exercise 9: Time Series Data
If you're working with time series data, here are some tasks:
Resample the data to a different frequency (e.g., daily to monthly).
Calculate moving averages or rolling statistics.
Plot a time series.
Q1: How can you effectively work with time series data in Pandas?

Exercise 10: Advanced Indexing
Explore advanced indexing techniques:
Set a column as the DataFrame's index.
Use MultiIndex for more complex data structures.
Slice and select data using loc and iloc.

In [17]:
# Importera Pandas
import pandas as pd

# Skapa en exempel-DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [30, 25, 35, 28, 22],
        'City': ['Stockholm', 'Gothenburg', 'Gothenburg', 'Malmö', 'Gothenburg']}

df = pd.DataFrame(data)

# Uppgift 1: Välj 'Name'-kolumnen
name_column = df['Name']

# Uppgift 2: Välj de första 5 raderna av DataFrame
rows = df.head(5)
print(rows)

# Uppgift 3: Välj rader där 'Age' är större än 25
age_above_25 = df[df['Age'] > 25]

# Uppgift 4: Välj rader där 'City' är 'Gothenburg'
city_gothenburg = df[df['City'] == 'Gothenburg']


print(age_above_25)
print(city_gothenburg)

      Name  Age        City
0    Alice   30   Stockholm
1      Bob   25  Gothenburg
2  Charlie   35  Gothenburg
3    David   28       Malmö
4      Eve   22  Gothenburg
      Name  Age        City
0    Alice   30   Stockholm
2  Charlie   35  Gothenburg
3    David   28       Malmö
      Name  Age        City
1      Bob   25  Gothenburg
2  Charlie   35  Gothenburg
4      Eve   22  Gothenburg