## Exercises: Filter and query data

In [1]:
import pandas as pd
autos = pd.read_json("../Data/autos.json")
autos.head()

FileNotFoundError: File ../Data/autos.json does not exist

**Use the "autos" dataset to answer the following questions:**

**Q1:** How many cars from Jaguar are in the dataset, and what is the price of the most expensive one?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;count=3
&nbsp;&nbsp;&nbsp;price=36000.0
</details>

In [15]:
jaguar_cars = autos[autos["make"] == "jaguar"]
num_jaguar_cars = len(jaguar_cars)
most_expensive_jaguar = jaguar_cars ["price"]. max()

print(jaguar_cars)
print("Number of Jaguar cars in the dataset:", num_jaguar_cars)
print(most_expensive_jaguar)

   aspiration body-style  bore  city-mpg  compression-ratio  curb-weight  \
47        std      sedan  3.63        15                8.1         4066
48        std      sedan  3.63        15                8.1         4066
49        std      sedan  3.54        13               11.5         3950

   drive-wheels engine-location  engine-size engine-type  ...    make  \
47          rwd           front          258        dohc  ...  jaguar
48          rwd           front          258        dohc  ...  jaguar
49          rwd           front          326        ohcv  ...  jaguar

   normalized-losses  num-of-cylinders  num-of-doors  peak-rpm    price  \
47             145.0               six          four    4750.0  32250.0
48               NaN               six          four    4750.0  35550.0
49               NaN            twelve           two    5000.0  36000.0

   stroke  symboling wheel-base width
47   4.17          0      113.0  69.6
48   4.17          0      113.0  69.6
49   2.76          0      102.0  70.6

[3 rows x 26 columns]
Number of Jaguar cars in the dataset: 3
36000.0

**Q2:** How many cars from Toyota are in the dataset, and what is the price of the most expensive one?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;count=32
&nbsp;&nbsp;&nbsp;price=17669.0
</details>

In [5]:
Toyota_cars = autos[autos["make"] == "toyota"]
num_toyota_cars = len (Toyota_cars)
most_expensive_Toyota = Toyota_cars["price"].max()

print(Toyota_cars)
print("Number of Toyota", num_toyota_cars)
print(most_expensive_Toyota)

    aspiration   body-style  bore  city-mpg  compression-ratio  curb-weight  \
150        std    hatchback  3.05        35                9.0         1985
151        std    hatchback  3.05        31                9.0         2040
152        std    hatchback  3.05        31                9.0         2015
153        std        wagon  3.05        31                9.0         2280
154        std        wagon  3.05        27                9.0         2290
155        std        wagon  3.05        27                9.0         3110
156        std        sedan  3.19        30                9.0         2081
157        std    hatchback  3.19        30                9.0         2109
158        std        sedan  3.27        34               22.5         2275
159        std    hatchback  3.27        38               22.5         2275
160        std        sedan  3.19        38                9.0         2094
161        std    hatchback  3.19        28                9.0         2122
162        std        sedan  3.19        28                9.0         2140
163        std        sedan  3.19        29                9.0         2169
164        std    hatchback  3.19        29                9.0         2204
165        std        sedan  3.24        26                9.4         2265
166        std    hatchback  3.24        26                9.4         2300
167        std      hardtop  3.62        24                9.3         2540
168        std      hardtop  3.62        24                9.3         2536
169        std    hatchback  3.62        24                9.3         2551
170        std      hardtop  3.62        24                9.3         2679
171        std    hatchback  3.62        24                9.3         2714
172        std  convertible  3.62        24                9.3         2975
173        std        sedan  3.31        29                8.7         2326
174      turbo        sedan  3.27        30               22.5         2480
175        std    hatchback  3.31        27                8.7         2414
176        std        sedan  3.31        27                8.7         2414
177        std    hatchback  3.31        27                8.7         2458
178        std    hatchback  3.27        20                9.3         2976
179        std    hatchback  3.27        19                9.3         3016
180        std        sedan  3.27        20                9.2         3131
181        std        wagon  3.27        19                9.2         3151

    drive-wheels engine-location  engine-size engine-type  ...    make  \
150          fwd           front           92         ohc  ...  toyota
151          fwd           front           92         ohc  ...  toyota
152          fwd           front           92         ohc  ...  toyota
153          fwd           front           92         ohc  ...  toyota
154          4wd           front           92         ohc  ...  toyota
155          4wd           front           92         ohc  ...  toyota
156          fwd           front           98         ohc  ...  toyota
157          fwd           front           98         ohc  ...  toyota
158          fwd           front          110         ohc  ...  toyota
159          fwd           front          110         ohc  ...  toyota
160          fwd           front           98         ohc  ...  toyota
161          fwd           front           98         ohc  ...  toyota
162          fwd           front           98         ohc  ...  toyota
163          rwd           front           98         ohc  ...  toyota
164          rwd           front           98         ohc  ...  toyota
165          rwd           front           98        dohc  ...  toyota
166          rwd           front           98        dohc  ...  toyota
167          rwd           front          146         ohc  ...  toyota
168          rwd           front          146         ohc  ...  toyota
169          rwd           front          146         ohc  ...  toyota
170          rwd           front          146         ohc  ...  toyota
171          rwd           front          146         ohc  ...  toyota
172          rwd           front          146         ohc  ...  toyota
173          fwd           front          122         ohc  ...  toyota
174          fwd           front          110         ohc  ...  toyota
175          fwd           front          122         ohc  ...  toyota
176          fwd           front          122         ohc  ...  toyota
177          fwd           front          122         ohc  ...  toyota
178          rwd           front          171        dohc  ...  toyota
179          rwd           front          171        dohc  ...  toyota
180          rwd           front          171        dohc  ...  toyota
181          rwd           front          161        dohc  ...  toyota

    normalized-losses  num-of-cylinders  num-of-doors  peak-rpm    price  \
150              87.0              four           two    4800.0   5348.0
151              87.0              four           two    4800.0   6338.0
152              74.0              four          four    4800.0   6488.0
153              77.0              four          four    4800.0   6918.0
154              81.0              four          four    4800.0   7898.0
155              91.0              four          four    4800.0   8778.0
156              91.0              four          four    4800.0   6938.0
157              91.0              four          four    4800.0   7198.0
158              91.0              four          four    4500.0   7898.0
159              91.0              four          four    4500.0   7788.0
160              91.0              four          four    4800.0   7738.0
161              91.0              four          four    4800.0   8358.0
162              91.0              four          four    4800.0   9258.0
163             168.0              four           two    4800.0   8058.0
164             168.0              four           two    4800.0   8238.0
165             168.0              four           two    6600.0   9298.0
166             168.0              four           two    6600.0   9538.0
167             134.0              four           two    4800.0   8449.0
168             134.0              four           two    4800.0   9639.0
169             134.0              four           two    4800.0   9989.0
170             134.0              four           two    4800.0  11199.0
171             134.0              four           two    4800.0  11549.0
172             134.0              four           two    4800.0  17669.0
173              65.0              four          four    4200.0   8948.0
174              65.0              four          four    4500.0  10698.0
175              65.0              four          four    4200.0   9988.0
176              65.0              four          four    4200.0  10898.0
177              65.0              four          four    4200.0  11248.0
178             197.0               six           two    5200.0  16558.0
179             197.0               six           two    5200.0  15998.0
180              90.0               six          four    5200.0  15690.0
181               NaN               six          four    5200.0  15750.0

    stroke  symboling wheel-base width
150   3.03          1       95.7  63.6
151   3.03          1       95.7  63.6
152   3.03          1       95.7  63.6
153   3.03          0       95.7  63.6
154   3.03          0       95.7  63.6
155   3.03          0       95.7  63.6
156   3.03          0       95.7  64.4
157   3.03          0       95.7  64.4
158   3.35          0       95.7  64.4
159   3.35          0       95.7  64.4
160   3.03          0       95.7  64.4
161   3.03          0       95.7  64.4
162   3.03          0       95.7  64.4
163   3.03          1       94.5  64.0
164   3.03          1       94.5  64.0
165   3.08          1       94.5  64.0
166   3.08          1       94.5  64.0
167   3.50          2       98.4  65.6
168   3.50          2       98.4  65.6
169   3.50          2       98.4  65.6
170   3.50          2       98.4  65.6
171   3.50          2       98.4  65.6
172   3.50          2       98.4  65.6
173   3.54         -1      102.4  66.5
174   3.35         -1      102.4  66.5
175   3.54         -1      102.4  66.5
176   3.54         -1      102.4  66.5
177   3.54         -1      102.4  66.5
178   3.35          3      102.9  67.7
179   3.35          3      102.9  67.7
180   3.35         -1      104.5  66.5
181   3.35         -1      104.5  66.5

[32 rows x 26 columns]
Number of Toyota 32
17669.0

**Q3:** What is the length, width and height of the most expensive car in the entire dataset?

<details>
<summary>Answer</summary>
<br>&nbsp;&nbsp;&nbsp;length=199.2
&nbsp;&nbsp;&nbsp;width=72.0
&nbsp;&nbsp;&nbsp;height=55.4
</details>

In [6]:
most_expensive_car = autos[autos["price"]== autos["price"].max()]
print(most_expensive_car["price"])

lenght_of_most_expensive = most_expensive_car["length"]. values[0]
width_of_most_expensive = most_expensive_car["width"]. values[0]
height_of_most_expensive = most_expensive_car["height"]. values[0]

print("Length of the most expensive car:", lenght_of_most_expensive)
print("Width of the most expensive car:", width_of_most_expensive)
print("Height of the most expensive car:", height_of_most_expensive)

74    45400.0
Name: price, dtype: float64
Length of the most expensive car: 199.2
Width of the most expensive car: 72.0
Height of the most expensive car: 55.4

**Q4:** What is the lowest price per horsepower in the dataset, and what brand ("make") is that car?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;price per horsepower=72.84
&nbsp;&nbsp;&nbsp;brand=Toyota
</details>

In [10]:
autos["price_per_horsepower"] = autos["price"] / autos ["horsepower"]

lowest_price_per_hp_car = autos[autos["price_per_horsepower"] == autos["price_per_horsepower"].min()]
brand_of_lowest_price_per_hp = lowest_price_per_hp_car["make"].values[0]
lowest_price_per_hp_value = lowest_price_per_hp_car["price_per_horsepower"].values[0]

print("Brand of the car with the lowets price per horsepower:", brand_of_lowest_price_per_hp)
print("Lowest price per horsepower:", lowest_price_per_hp_value)

Brand of the car with the lowets price per horsepower: toyota
Lowest price per horsepower: 72.83620689655173

**Q5:** How many of the cars in the dataset has as many cylinders as they have doors?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;cars=95
</details>

In [13]:
same_cylinder_and_doors = autos[autos["num-of-cylinders"] == autos["num-of-doors"]]
count_same_cylinder_and_doors = len(same_cylinder_and_doors)
print("Number of cars with as many cylinders as doors: ", count_same_cylinder_and_doors)

Number of cars with as many cylinders as doors:  95

**Use the "autos" dataset and write python code to solve the following tasks:**

**T1:** Print a string to inform the user of the price difference between the cheapest and the most expensive car in the dataset.

<details>
<summary>Solution</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Example:</b><br>
&nbsp;&nbsp;&nbsp;The price difference between the cheapest and the most expensive car is 40282.0
</details>

In [14]:
cheapest_car = autos.loc[autos["price"].idxmin()]
most_expensive_car = autos.loc[autos["price"].idxmax()]

price_difference = most_expensive_car["price"] - cheapest_car["price"]

print(f"The price difference between the cheapest car and the most expensive car is ${price_difference:.2f}")

The price difference between the cheapest car and the most expensive car is $40282.00

**T2:** Ask the user to input a brand, then print the price range for that brand.

<details>
<summary>Solution</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Example 1:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: volvo<br>
&nbsp;&nbsp;&nbsp;The prices for cars of brand 'volvo' ranges from 12940.0 to 22625.0<br>
<br>
&nbsp;&nbsp;&nbsp;<b>Example 2:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: toyota<br>
&nbsp;&nbsp;&nbsp;The prices for cars of brand 'toyota' ranges from 5348.0 to 17669.0<br>
<br>
&nbsp;&nbsp;&nbsp;<b>Example 3:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: tesla<br>
&nbsp;&nbsp;&nbsp;The brand 'tesla' does not exists in the dataset.<br>
</details>

In [21]:
brand = input("Enter a brans: ")

brand_cars = autos[autos["make"] == brand]

if not brand_cars.empty:
    min_price = brand_cars["price"].min()
    max_price = brand_cars["price"].max()
    
    print(f"Price range for {brand}: ${min_price:.2f} - ${max_price:.2f}")
else:
    print(f"No cars found for the brand: {brand}")

No cars found for the brand: BMW

**T3:** Ask the user to input a brand, then print the number of cars in the dataset for that brand, and all attributes for a random sample car of that brand.
<details>
<summary>Solution</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Example:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: mazda<br>
&nbsp;&nbsp;&nbsp;There are 17 cars of brand 'mazda' in the dataset.<br><br>
&nbsp;&nbsp;&nbsp;Here is the data for a random 'mazda' car:<br>
&nbsp;&nbsp;&nbsp;aspiration = std<br>
&nbsp;&nbsp;&nbsp;body-style = sedan<br>
&nbsp;&nbsp;&nbsp;bore = 3.03<br>
&nbsp;&nbsp;&nbsp;city-mpg = 31<br>
&nbsp;&nbsp;&nbsp;compression-ratio = 9.0<br>
&nbsp;&nbsp;&nbsp;curb-weight = 1945<br>
&nbsp;&nbsp;&nbsp;drive-wheels = fwd<br>
&nbsp;&nbsp;&nbsp;engine-location = front<br>
&nbsp;&nbsp;&nbsp;engine-size = 91<br>
&nbsp;&nbsp;&nbsp;engine-type = ohc<br>
&nbsp;&nbsp;&nbsp;fuel-system = 2bbl<br>
&nbsp;&nbsp;&nbsp;fuel-type = gas<br>
&nbsp;&nbsp;&nbsp;height = 54.1<br>
&nbsp;&nbsp;&nbsp;highway-mpg = 38<br>
&nbsp;&nbsp;&nbsp;horsepower = 68.0<br>
&nbsp;&nbsp;&nbsp;length = 166.8<br>
&nbsp;&nbsp;&nbsp;make = mazda<br>
&nbsp;&nbsp;&nbsp;normalized-losses = 113.0<br>
&nbsp;&nbsp;&nbsp;num-of-cylinders = four<br>
&nbsp;&nbsp;&nbsp;num-of-doors = four<br>
&nbsp;&nbsp;&nbsp;peak-rpm = 5000.0<br>
&nbsp;&nbsp;&nbsp;price = 6695.0<br>
&nbsp;&nbsp;&nbsp;stroke = 3.15<br>
&nbsp;&nbsp;&nbsp;symboling = 1<br>
&nbsp;&nbsp;&nbsp;wheel-base = 93.1<br>
&nbsp;&nbsp;&nbsp;width = 64.2<br>
</details>

In [27]:
import random as random

brand= input("Enter a brand: ")
brand_cars = autos[autos["make"] == brand]

if not brand_cars.empty:
    num_cars = len(brand_cars)

    random_index = random.randint(0, num_cars - 1)
    random_car = brand_cars.iloc[random_index]

    print(f"Number of cars for {brand}: {num_cars}")
    print("Attributes for a random sample car of that brand:")
    print(random_car)
else:
    print(f"No cars found for the brand: {brand}")

No cars found for the brand: BMW

**T4:** Ask the user to input a brand, then export all cars of that brand to a .csv file with the same name as the brand.

<details>
<summary>Solution</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Example 1:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: volkswagen<br>
&nbsp;&nbsp;&nbsp;Exported 12 cars to 'volkswagen.csv'<br>
<br>
&nbsp;&nbsp;&nbsp;<b>Example 2:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: tesla<br>
&nbsp;&nbsp;&nbsp;The brand 'tesla' does not exists in the dataset.<br>
</details>

In [2]:
import pandas as pd
import csv


# Ask the user to input a brand
brand_to_export = input("Enter a brand: ")

# Filter the dataset to include only the specified brand
brand_cars = autos[autos['make'] == brand_to_export]

# Check if there are any cars for the specified brand
if not brand_cars.empty:
    # Define the output file name as the brand name with .csv extension
    output_filename = f"{brand_to_export}.csv"
    
    # Export the data to a .csv file
    brand_cars.to_csv(output_filename, index=False)

    print(f"Data for {brand_to_export} cars has been exported to {output_filename}.")
else:
    print(f"No cars found for the brand: {brand_to_export}")

NameError: name 'autos' is not defined